.cover {
  margin: 0 auto 92px;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  z-index: 1;
}

@media (max-width: 1024px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .cover {
    margin: 0 0 88px 0;
    min-height: 480px;
  }
}

@media (max-width: 425px) {
  .cover {
    margin: 0 0 64px 0;
    min-height: 200px;
  }
}
