.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url('../../../image/footer_bg.jpg') center center/cover no-repeat;
  text-decoration: none;
  max-width: 100%;
  padding-top: 62.5%;
  transition: .2s ease-in-out;
}

.cover__overlay::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: .335s ease-in-out;
}

.cover__overlay:hover::before  {
  opacity: .8;
}

