.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  width: 100%;
  min-height: 740px;
  z-index: 2;
}

@media (max-width: 1024px) {
  .cover__overlay {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media (max-width: 425px) {
  .cover__overlay {
    min-height: 200px;
  }
}

