.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 740px;
  max-width: 100%;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
  z-index: 3;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .cover__overlay {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media (max-width: 425px) {
  .cover__overlay {
    min-height: 200px;
  }
}
