.cover__background {
  background: url('../../../images/footer_bg.jpg') center center/cover no-repeat;
  opacity: .3;
  grid-column: 1;
  grid-row: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  z-index: 1;
  box-sizing: border-box;
}
