.place {
  display: grid;
  margin: 0;
  grid-template-columns: 460px 1fr;
  grid-gap: 40px 40px;
  box-sizing: border-box;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;
  }
}

@media (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;
  }
}

@media (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    grid-gap: 32px 0;
  }
}
